@import url(../icons/icons.css);
@import url(./view/ListView.css);
@import url(./view/DetailView.css);

:root {
  --width: 220px;
  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  outline-color: #2962ff;
}

body {
  width: var(--width);
  margin: 0;
  padding: 0;
  color: #1A202C;
  font-size: 14px;
  font-family: "Open Sans", Arial, "Lucida Grande", sans-serif;
}

h1 {
  font-size: 16px;
  margin: 10px 0;
}

.view {
  padding: 10px;
  background: #ffffff;
  display: none;
}
.view-active {
  display: block;
}

label {
  display: block;
  color: #616161;
  font-size: .9em;
  margin: 15px 0 4px 0;
}

input[type=text] {
  border-radius: var(--border-radius);
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  width: 100%;
  padding: 6px;
  font-size: 1em;
}

.button {
  display: inline-block;
  min-width: 60px;
  padding: 5px 10px;
  border: 1px solid #e0e0e0;
  border-radius: var(--border-radius);
  cursor: pointer;
  color: #212121;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.15s;
}
.button:hover {
  background-color: #fafafa;
}
.button:focus {
  outline: none;
}

.button.primary {
  background: #2979ff;
  border-color: #2979ff;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.button.primary:active, .button.primary:focus-visible {
  background: #2962ff;
}

.buttons {
  display: flex;
  flex-grow: 0;
  margin-top: 20px;
  justify-content: flex-end;
}

