@import url(../icons/icons.css);
@import url(./view/ListView.css);
@import url(./view/DetailView.css);

:root {
    --width: 230px;
    --border-radius: 4px;
    --color-ui-primary: #2979ff;
    --color-ui-primary-dark: #2962ff;
    --color-ui-neutral-50: #eceff1;
    --color-ui-neutral-100: #cfd8dc;
    --color-ui-neutral-600: #546e7a;
    --color-ui-danger: #e53935;
    --color-ui-danger-dark: #c62828;
}

* {
    margin: 0;
    padding: 0;
    outline-color: var(--color-ui-primary-dark);
    font-family: "Roboto", "Open Sans", Arial, "Lucida Grande", sans-serif;
}

:focus:not(.focus-visible) {
    outline: none;
}

body {
    width: var(--width);
    margin: 0;
    padding: 0;
    color: #1A202C;
    font-size: 14px;
}

h1 {
    font-size: 18px;
    margin: 12px 4px;
    color: var(--color-ui-neutral-600);
}

.view {
    padding: 8px;
    background: #ffffff;
    display: none;
}

.view-active {
    display: block;
}

label {
    display: block;
    color: #616161;
    font-size: .9em;
    margin: 15px 0 5px 0;
}

input[type=text] {
    border-radius: var(--border-radius);
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 6px 6px 6px;
    font-size: 1em;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.button {
    display: inline-block;
    min-width: 60px;
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
    border-radius: var(--border-radius);
    color: #212121;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.15s;
}

.button:hover {
    background-color: #fafafa;
}

.button.primary {
    background: var(--color-ui-primary);
    border-color: var(--color-ui-primary);
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.button.primary:active {
    background: var(--color-ui-primary-dark);
}

.button.primary.focus-visible {
    background: var(--color-ui-primary-dark);
    outline: none;
    transform: scale(1.05);
}

.buttons {
    display: flex;
    flex-grow: 0;
    margin-top: 20px;
    justify-content: flex-end;
}

