.bi {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
}

.bi-three-dots { background-image: url("three-dots.svg"); }
.bi-plus { background-image: url("plus.svg"); }

/* Workspace icons */
.bi-home { background-image: url("house.svg"); }
.bi-star { background-image: url("star.svg"); }
.bi-work { background-image: url("briefcase.svg"); }
.bi-buy { background-image: url("cart4.svg"); }
.bi-gift { background-image: url("gift.svg"); }
.bi-smile { background-image: url("emoji-smile.svg"); }
.bi-read { background-image: url("book.svg"); }
.bi-media { background-image: url("caret-right-square.svg"); }
.bi-game { background-image: url("controller.svg"); }
.bi-travel { background-image: url("cursor.svg"); }
