@import url(../popup/variables.css);

body {
    margin: .5rem 1.5rem 1.5rem 1.5rem;
}

dl {
    margin: 0 0 1.5rem 0;
}

dt {
    font-weight: 600;
}

dd {
    margin-inline-start: 0;
}

.radiogroup > label {
    display: block;
    margin-block-start: 8px;
    margin-inline-end: 8px;
}

.radiogroup input[type="radio"] {
    transform: translateY(2px);
}

dd > button {
    margin-top: 8px;
    margin-right: 12px;
}

button {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    transition: all 0.15s;
    cursor: pointer;
    color: #212121;
    font-weight: 500;
    background-color: transparent;
}
button:hover {
    background-color: var(--color-ui-neutral-50);
}

#import-info {
    display: none;
    color: green;
    font-weight: bold;
    margin-top: 4px;
}
