body {
    margin: 8px 20px 20px 20px;
}

dl {
    margin: 16px 0 0;

    &:first-child {
        margin-top: 0;
    }
}

dt {
    font-weight: 600;
}

dd {
    margin-inline-start: 0;
}

dd.radiogroup > label {
    display: inline-block;
    margin-block-start: 8px;
    margin-inline-end: 8px;
}

dd.radiogroup input[type="radio"] {
    transform: translateY(2px);
}

dd > button {
    margin-top: 8px;
    margin-right: 12px;
}

dd.info {
    display: none;
    color: green;
    font-weight: bold;
    margin-top: 4px;
}