#workspace-color-picker {
    display: flex;
    padding: 4px 0;
    justify-content: space-between;
}
#workspace-color-picker .color {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50% !important;
    border: none;
    cursor: pointer;
}
#workspace-color-picker .color:focus {
    animation: bump 250ms ease-in-out;
}
#workspace-color-picker .color-selected {
    background-image: url(../../icons/ui/check.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#workspace-remove {
    margin-right: auto;
    color: var(--color-ui-danger-dark);
}
#workspace-remove:hover,
#workspace-remove:active {
    background-color: var(--color-ui-danger);
    border-color: var(--color-ui-danger-dark);
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    outline: none;
}
#workspace-remove:active {
    background-color: var(--color-ui-danger-dark);
    color: #ffffff;
}

@keyframes bump {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1.0);
    }
}