#workspace-icon-picker {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 6px;
}
#workspace-icon-picker .icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: auto;
    border: none;
    border-radius: var(--border-radius);
    background-position: center;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-color: var(--color-bluegray-50);
    cursor: pointer;
}
#workspace-icon-picker .icon i {
    opacity: 0.9;
}
#workspace-icon-picker .icon:active:not(.icon-selected) {
    background-color: var(--color-bluegray-100);
}
#workspace-icon-picker .icon-selected {
    background-color: var(--color-primary);
}
#workspace-icon-picker .icon-selected:active {
    background-color: var(--color-primary-dark);
}
#workspace-icon-picker .icon-selected i {
    opacity: 1;
    filter: invert(1);
}

#workspace-remove {
    margin-right: auto;
    color: var(--color-red-800);
}
#workspace-remove:hover,
#workspace-remove:active {
    background-color: var(--color-red-600);
    border-color: var(--color-red-800);
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    outline: none;
}
#workspace-remove:active {
    background-color: var(--color-red-800);
    color: #ffffff;
}