#view-list .workspace-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 16px;
}

#view-list .item {
    width: calc(100% + 1px); /* Prevent unwanted text ellipsis */
    min-height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 0;
    padding: 3px 8px;
    font-weight: 500;
    text-align: start;
    cursor: pointer;
    border-radius: var(--border-radius);
}
#view-list .item {
    --item-color: var(--color-ui-primary);
    --item-bg-color: transparent;

    position: relative;
    opacity: 0.9;
}
#view-list .item:hover {
    background: var(--color-ui-neutral-50);
}

#view-list .item-selected, #view-list .item-selected:hover {
    background: var(--item-bg-color);
    opacity: 1;
}

#view-list .item-color {
    flex-shrink: 0;
    margin-inline: 2px 10px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: var(--item-color);
    opacity: 0.95;
}

#view-list .item-name {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    font-size: 105%;
    text-overflow: ellipsis;
}
#view-list .item-selected .item-name {
    color: var(--item-color);
    font-weight: 600;
    text-shadow: 0 1px 4px #ffffff80;
}

#view-list .item-edit-button {
    width: 24px;
    flex-shrink: 0;
    opacity: 0;
    margin-left: 6px;
    border-radius: 5px;
    background-size: 75% 75%;
    visibility: hidden;
    overflow: hidden;
}
#view-list .item-edit-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
#view-list .item-edit-button:active {
    background-color: rgba(0, 0, 0, 0.4);
}
#view-list .item:hover .item-edit-button {
    visibility: visible;
    opacity: 0.5;
    transition: visibility 0s 0.5s, opacity 0.2s 0.5s;
}

#view-list .new-button {
    color: #444;
}

#view-list .buttons {
    margin-top: 10px;
}
