#workspace-list {
    margin-top: 16px;
}

.item, #new-workspace-button {
    width: 100%;
    min-height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0;
    padding: 3px 8px;
    font-weight: 500;
    text-align: start;
    cursor: pointer;
    border-radius: var(--border-radius);
}
.item {
    --item-color: var(--color-ui-primary);

    position: relative;
}
.item:hover {
    background: var(--color-ui-neutral-50);
}
.item:active {
    background: var(--color-ui-neutral-100);
}

.item-selected, .item-selected:hover {
    background: var(--item-bg-color);
}

.item-color {
    flex-shrink: 0;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--item-color);
}

.item-name {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    font-size: 105%;
    text-overflow: ellipsis;
}

.item-edit-button {
    flex-shrink: 0;
    width: 0;
    opacity: 0;
    border-radius: 5px;
    background-size: 75% 75%;
    overflow: hidden;
}
.item-edit-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.item-edit-button:active {
    background-color: rgba(0, 0, 0, 0.4);
}
.item:hover .item-edit-button {
    width: 24px;
    opacity: 0.5;
    transition: width 0s 0.5s, opacity 0.2s 0.5s;
}

#new-workspace-button {
    width: auto;
    margin: 1px;
    padding: 2px 8px 2px 4px;
    color: rgba(0, 0, 0, 0.4);
}
#new-workspace-button:hover,
#new-workspace-button:focus {
    color: rgba(0, 0, 0, 0.6);
}
#new-workspace-button i {
    opacity: 0.4;
    margin-right: 4px;
}
#new-workspace-button:hover i,
#new-workspace-button:focus i {
    opacity: 0.6;
}